*.fbx filter=lfs diff=lfs merge=lfs -text
*.FBX filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.aiff filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.controller filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
/Assets/Animation/Animation/Gargoyle@Idle.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Audio/SFXCandle.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Audio/SFXGhostMove.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Audio/SFXHouseAmbience.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Models/Corridor/Wall_Windows_Straight.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Prefabs/Level.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BathRoom/Bathtub_MetallicSmooth.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BathRoom/Floor_Bathroom_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BathRoom/Floor_Bathroom_MetallicSmooth.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BathRoom/Floor_Bathroom_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BathRoom/Pipe_MetallicSmooth.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BathRoom/Radiator_MetallicSmooth.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BathRoom/Sink_MetallicSmooth.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BathRoom/Wall_Bathroom_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BathRoom/Wall_Bathroom_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BathRoom/Wall_Bathroom_Occlusion.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BedRoom/BedSide_Metalness.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BedRoom/Floor_Bedroom_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BedRoom/Floor_Bedroom_MetallicSmooth.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BedRoom/Floor_Bedroom_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BedRoom/Wall_Bedroom_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BedRoom/Wall_Bedroom_MetallicSmooth.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BedRoom/Wall_Bedroom_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BedRoom/Wardrobe_albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/BedRoom/Wardrobe_metallic.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Characters/Gargoyle_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Characters/Gargoyle_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Characters/JohnLemon_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Characters/JohnLemon_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Corridor/DoorPost_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Corridor/DoorPost_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Corridor/Floor_Corridor_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Corridor/Floor_Corridor_MetallicSmooth.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Corridor/Floor_Corridor_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Corridor/FramedPicture_MetallicSmooth.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Corridor/FramedPicture_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Corridor/Frames_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Corridor/Frames_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Corridor/Wall_Corridor_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Corridor/Wall_Corridor_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Corridor/Window_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Corridor/Window_MetallicSmooth.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/Corridor/Window_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/DiningRoom/Cthulhu_Lamp_MetallicSmooth.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/DiningRoom/Floor_Diningroom_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/DiningRoom/Rug_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/DiningRoom/Rug_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/DiningRoom/Table_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/DiningRoom/Table_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/DiningRoom/Wall_DiningRoom_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/DiningRoom/Wall_DiningRoom_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/UI/Caught.png filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/UI/Won.png filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/VFX/Splash04Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/VFX/Splash04Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Textures/VFX/test[[:space:]]light.tif filter=lfs diff=lfs merge=lfs -text
/com.unity.cinemachine@2.5.0/Editor/EditorResources/Cinemachine_header.tif filter=lfs diff=lfs merge=lfs -text
/com.unity.cinemachine@2.5.0/Samples~/Cinemachine[[:space:]]Example[[:space:]]Scenes/Shared/Models/UnityCharacter/Animations/Idle.fbx filter=lfs diff=lfs merge=lfs -text
/com.unity.cinemachine@2.5.0/Samples~/Cinemachine[[:space:]]Example[[:space:]]Scenes/Shared/Textures/GridBox_Trigger.tga filter=lfs diff=lfs merge=lfs -text
/com.unity.postprocessing@2.1.2/PostProcessing/Textures/Cubes/Linear[[:space:]]to[[:space:]]Unity[[:space:]]Log[[:space:]]r1.cube filter=lfs diff=lfs merge=lfs -text
/com.unity.postprocessing@2.1.2/PostProcessing/Textures/Cubes/Linear[[:space:]]to[[:space:]]sRGB[[:space:]]r1.cube filter=lfs diff=lfs merge=lfs -text
/com.unity.postprocessing@2.1.2/PostProcessing/Textures/Cubes/Unity[[:space:]]Log[[:space:]]to[[:space:]]Linear[[:space:]]r1.cube filter=lfs diff=lfs merge=lfs -text
/com.unity.postprocessing@2.1.2/PostProcessing/Textures/Cubes/sRGB[[:space:]]to[[:space:]]Linear[[:space:]]r1.cube filter=lfs diff=lfs merge=lfs -text
/com.unity.postprocessing@2.1.2/PostProcessing/Textures/Cubes/sRGB[[:space:]]to[[:space:]]Unity[[:space:]]Log[[:space:]]r1.cube filter=lfs diff=lfs merge=lfs -text
/com.unity.postprocessing@2.1.2/PostProcessing/Textures/Lens[[:space:]]Dirt/LensDirt00.png filter=lfs diff=lfs merge=lfs -text
/com.unity.postprocessing@2.1.2/PostProcessing/Textures/Lens[[:space:]]Dirt/LensDirt01.png filter=lfs diff=lfs merge=lfs -text
/com.unity.postprocessing@2.1.2/PostProcessing/Textures/Lens[[:space:]]Dirt/LensDirt02.png filter=lfs diff=lfs merge=lfs -text
/com.unity.postprocessing@2.1.2/PostProcessing/Textures/Lens[[:space:]]Dirt/LensDirt03.png filter=lfs diff=lfs merge=lfs -text
